# Backend dependencies
fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
python-multipart
pymysql
python-jose[cryptography]
passlib
bcrypt==4.0.1
qrcode[pil]
pillow
websockets
vonage
sendgrid
certifi
email-validator
